.ticket {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;

  .flight-info {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .button {
    width: 100%;
  }
  .card {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    color: #000000;
    font-weight: 600;
    font-size: 0.8rem;
    &:hover {
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }
  .gridContainer {
    width: 100%;
  }
  .gridItem{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;


  }
  .divider{
    width: 5rem;
    height: 1px;
    margin: 0 1rem;




  }
  // Mobile Divider
    @media (max-width: 768px) {
        .divider {
        width: 1rem;
        }
    }
    @media (max-width: 768px) {
        .fullName {
        display: none;
        }
    }

  .airline {
    padding: 1rem;
  }

  .priceGridItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    color: #000000;
    font-weight: 600;
    font-size: 0.8rem;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }
  .gridContainerFlightInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // space the items out
    margin: 10px;

// make the grid responsive
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

.priceInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  color: #000000;
  font-weight: 600;
  font-size: 0.8rem;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }


}

.priceGridContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // space the items out
  margin: 10px;
}
.duration {
  justify-self: center;
    align-self: center;
    margin: 0 1rem;


}

.layoverTime {
  justify-content: center;
    align-items: center;

}

.gridContainerRow {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.checkoutButton {
  .contained {
    background-color: #000000;
    color: #000000;
    font-weight: 600;
    font-size: 0.8rem;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }

}



