.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: center;
}



.navbar__logo {
  color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 0 1rem;

}
.navbar__about {
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: bold;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;


}
.navbar__about a {
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: bold;
  padding: 0 1rem;
  text-decoration: none;
}
.navbar__about a:hover {
  color: #0070f3;
  text-decoration: underline;
}
.navbar__contact {
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: bold;
  text-decoration: none;
  height: 10vh;
  width: 100%;
  background: white;


}
.navbar__contact a {
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: bold;
  padding: 0 1rem;
  text-decoration: none;
}
.navbar__contact a:hover {
  color: #0070f3;
  text-decoration: underline;
}
.navbar__contact:hover {
  color: #0070f3;
  text-decoration: none;

}
.navbar__about:hover {
  color: #0070f3;
  text-decoration: none;


}
