// navbar.scss
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  width: 100%;

  .logo {
    img {
      width: 75px;
      height: 75px;
    }
    display: flex;
    align-items: center;
    justify-content: center;



  }

  .navbarLinks {

    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      margin: 0 10px;
      width: 5rem;
      border-radius: 10px;
      color: rgba(0,0,0,.65);

      display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          color: rgba(0,0,0,1);
        }


    }
  }
}
@media only screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    .logo {
      img {
        width: 50px;
        height: 50px;

      }
    }
  }
}
.title {
  margin: 0;
  font-size: 4rem;
  text-align: left;
  font-weight: 600;
  padding: 0 1rem;
  font-family: 'Roboto', sans-serif;
    color: #000000;
  text-underline: black;
}